.dialogue {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.EpilepsyWarning {
  animation: fadeIn 4000ms ease forwards;
}

.fade-in {
  animation: fadeIn var(--fade-duration) ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}

@keyframes dialogueSlideUp {
  0% {
    opacity: 0;
    transform: translateY(250%);
  }
  50% {
    transform: translateY(-25px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.dialogue-internal {
  position: relative;
  border-radius: 0px;
  transition: all 250ms ease;
}

.dialogue-content {
  max-width: min(600px, 95vw);
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: var(--contrast);
  padding: 2rem;
  gap: 1rem;
  z-index: 2;
  border-radius: inherit;
}

.EpilepsyWarning .dialogue-content {
  padding: 4rem 4rem;
}

.dialogue-popout-shapes {
  border-radius: inherit;
}

.landing-title {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.warning-title {
  font-size: larger;
  text-align: center;
  font-weight: bold;
  color: var(--contrast);
}

.warning-blurb {
  text-align: justify;
  text-align-last: center;
  color: var(--contrast);
  font-size: 0.75rem;
}

.warning-dont-show-again {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.dialogue-controls,
.warning-controls {
  display: flex;
  justify-content: center;
}

.fade-out {
  animation: fadeOut var(--fade-duration) ease forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fly-in {
  transform: translateX(var(--fly-in-origin));
  animation: flyIn 1500ms ease forwards;
  animation-delay: var(--fly-in-delay);
}

@keyframes flyIn {
  0% {
    transform: translateX(var(--fly-in-origin));
  }
  100% {
    transform: translateX(0);
  }
}

.jostle {
  animation: jostle 400ms ease forwards;
}

@keyframes jostle {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(var(--jostle-1), var(--jostle-2));
  }
  40% {
    transform: translate(var(--jostle-3), var(--jostle-4));
  }
  60% {
    transform: translate(var(--jostle-5), var(--jostle-6));
  }
  80% {
    transform: translate(var(--jostle-7), var(--jostle-8));
  }
  100% {
    transform: translate(0, 0);
  }
}

.save-pattern-dialogeue .dialogue-content {
  align-items: center;
}

.save-pattern {
  width: 100%;
  display: flex;
  /* gap: 1rem; */
  align-items: center;
  border-radius: 1000px;
  overflow: hidden;
  border: 1px solid var(--contrast);
  transition: all 200ms ease;
}

.save-pattern:hover,
.save-pattern:focus-within {
}

.save-pattern input {
  flex: 1;
  padding: 0.5rem;
  text-align: end;
  outline: none;
  border: none;
}

.save-pattern .save-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  background-color: var(--contrast);
  color: var(--background);
}

.dialogue-subtitle {
  font-weight: bold;
}

.pattern-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;
}

.load-pattern {
  cursor: pointer;
  width: 100%;
  padding: 0.5rem;
  transition: all 100ms ease;
}

.load-pattern:hover {
  background-color: var(--offset);
}

.dialogue-section {
  width: 100%;
}

.load-pattern-dialogue .dialogue-content {
  width: min(95vw, 600px);
}
