.dialogue {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(50, 50, 50, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.EpilepsyWarning {
  animation: dialogueFadeIn 4000ms ease forwards;
}

@keyframes dialogueFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* .EpilepsyWarning .dialogue-internal {
  transform: translateY(250%);
  animation: dialogueSlideUp 800ms 400ms ease forwards;
} */

@keyframes dialogueSlideUp {
  0% {
    opacity: 0;
    transform: translateY(250%);
  }
  50% {
    transform: translateY(-25px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.dialogue-internal {
  position: relative;
  border-radius: 20px;
}

.dialogue-content {
  max-width: min(600px, 95vw);
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: var(--contrast);
  padding: 2rem;
  gap: 1rem;
  z-index: 2;
  border-radius: inherit;
}

.dialogue-popout-shapes {
  border-radius: inherit;
}

.landing-title {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}

.warning-title {
  font-size: larger;
  text-align: center;
  font-weight: bold;
  color: var(--contrast);
}

.warning-blurb {
  text-align: justify;
  text-align-last: center;
  color: var(--contrast);
  font-size: 0.75rem;
}

.warning-dont-show-again {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.dialogue-controls,
.warning-controls {
  display: flex;
  justify-content: center;
}

.fade-out {
  animation: fadeOut var(--fade-duration) ease forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fly-in {
  transform: translateX(var(--fly-in-origin));
  animation: flyIn 1500ms ease forwards;
  animation-delay: var(--fly-in-delay);
}

@keyframes flyIn {
  0% {
    transform: translateX(var(--fly-in-origin));
  }
  100% {
    transform: translateX(0);
  }
}

.jostle {
  animation: jostle 400ms ease forwards;
}

@keyframes jostle {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(var(--jostle-1), var(--jostle-2));
  }
  40% {
    transform: translate(var(--jostle-3), var(--jostle-4));
  }
  60% {
    transform: translate(var(--jostle-5), var(--jostle-6));
  }
  80% {
    transform: translate(var(--jostle-7), var(--jostle-8));
  }
  100% {
    transform: translate(0, 0);
  }
}
