body {
  --background: #f8f8f8;
  --offset: #dedede;
  --contrast: #333;
  --button-primary: var(--contrast);
  --error: #840505;
  --error-opacity-low: #84050512;
  --error-opacity-lowest: #84050506;
  --success: #82c346;
  --success-opacity-low: #82c34612;
  --success-opacity-lowest: #82c34606;
  --info: #2b0584;
  --info-opacity-low: #2b058412;
  --info-opacity-lowest: #2b058406;
  --warning: #d6871f;
  --warning-opacity-low: #d6871f12;
  --warning-opacity-lowest: #d6871f06;
}

.App {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.canvas {
  overflow: hidden;
  background-color: white;
  position: relative;
}

.square {
  cursor: pointer;
  position: absolute;
}

svg {
  transition: all 200ms ease;
}

svg:active {
  scale: 0.75;
}

.pause-animations * {
  animation-play-state: paused !important;
}

.nodisplay {
  display: none !important;
}

@keyframes wobble {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  0% {
    transform: rotate(0);
  }
}

.rotate3d-y {
  animation: rotate3dy 800ms ease infinite;
}

.rotate3d-x {
  animation: rotate3dx 800ms ease infinite;
}

@keyframes rotate3dy {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes rotate3dx {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.tremble {
  animation: tremble 800ms ease infinite;
}

@keyframes tremble {
  0% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5px, 10px);
  }

  20% {
    transform: translate(8px, -4px);
  }

  30% {
    transform: translate(-9px, 6px);
  }

  40% {
    transform: translate(3px, -7px);
  }

  50% {
    transform: translate(10px, -1px);
  }

  60% {
    transform: translate(-6px, 5px);
  }

  70% {
    transform: translate(2px, -8px);
  }

  80% {
    transform: translate(-7px, 3px);
  }

  90% {
    transform: translate(4px, -9px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.scale-down {
  animation: scaledown 800ms ease infinite;
}

@keyframes scaledown {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.5;
  }
  100% {
    scale: 1;
  }
}

.scale-up {
  animation: scaleup 800ms ease infinite;
}

@keyframes scaleup {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.5;
  }
  100% {
    scale: 1;
  }
}

.spin {
  animation: spin 800ms ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circularize {
  animation: circularize 800ms ease infinite;
}

@keyframes circularize {
  0% {
    border-radius: 0px;
  }
  50% {
    border-radius: 10000px;
  }
  100% {
    border-radius: 0px;
  }
}

.half-spin-up-once {
  animation: half-spin-up 200ms ease 1 forwards;
}

.half-spin-down-once {
  animation: half-spin-down 200ms ease 1 forwards;
}

@keyframes half-spin-up {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 180deg;
  }
}

@keyframes half-spin-down {
  0% {
    rotate: 180deg;
  }
  100% {
    rotate: 360deg;
  }
}

.tooltip-container {
  position: absolute;
  z-index: 10;
  pointer-events: none;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.tooltip-wrapper {
  overflow: visible;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: var(--contrast);
  color: var(--background);
  /* box-shadow: 1px 1px 1px var(--background); */
  --transform-left-pixels: -100px;
  border-radius: inherit;
}

.tooltip-internal {
  position: relative;
  border-radius: 5px;
  width: fit-content;
}

.tooltip-popout-shapes {
  border-radius: inherit;
}

/* .anim-slide-in-left {
  animation: slideInLeft 400ms ease forwards;
} */

@keyframes slideInLeft {
  0% {
    transform: translateX(-150%);
  }
  25% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes tooltipShapeSlideIn {
  0% {
    transform: translateX(-150%);
    opacity: 0;
  }
  25% {
    transform: translateX(3px);
    opacity: 1;
  }
  50% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}
